*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-fluid{
    text-align: center;
}
table{
    margin: auto;
}
input{
    width: 451px;
    height: 80px;
    border: 4px solid;
    border-radius: 15px;
    font-size: 56px;
}
button{
    width: 102px;
    height: 70px;
    background-color: aqua;
    font-size: 30px;
    border-radius: 15px;
    margin: 8px;

}
.c{
    background-color: red;
}
.g{
    background-color: green;
}
.op{
    background-color: rgb(175, 195, 195);
}
.calculator{
    /* background-color: blueviolet;   */
    padding: 35px;
    display:inline-block;
    border-radius: 15px;
}
@media (max-width:768px) {
    body{
        background-color: greenyellow;
        width: 100%;
    }
    .center{
        margin-left: 45%;
        margin-top: 10%;
    }
    .calculator{
        margin-top: 10%;
    }
    input{
        width: 100%;
        height: 130px;
        font-size: 80px;
    }
    table{
        height: 600px;
        width: 100%;
        margin-top: 40px;
    }
}